main {
  padding: 98px 88px 98px 88px;
}

body {
  font-family: 'Montserrat';
  background: #e5e5e5;
  color: #595959;
}

h1 {
  color: #e82b2b;
  font-weight: 700;
  font-size: 45px;
}

h3 {
  color: black;
  font-weight: 700;
  font-size: 16px;
}

p {
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/*---Main---*/

.h-main {
  color: rgb(0, 0, 0);

  font-weight: 700;
  font-size: 22px;
}
.ol-main {
  color: black;
  padding-left: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.ol-main-item {
  color: gray;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.ul-main {
  width: 509px;
  padding-left: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/*Main desc*/
.main-desc {
  width: 420px;
  margin-bottom: 40px;
}

/*Projects*/
.projects {
  width: 485px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.projects-link {
  color: gray;
  text-decoration: none;
}
.projects-bracket {
  color: #000000;
  font-weight: 700;
}

/*Expirence*/
.expirience {
  width: 525px;
  margin-top: 67px;
}

.expirence-item {
  width: 525px;
}
.exp-loc {
  color: #e82b2b;
}
.exp-time {
  color: rgb(116, 116, 116);

  font-size: 12px;
}

/*Edu*/
.education {
  width: 242px;
  margin-top: 43px;
}
.education-type {
  color: #e82b2b;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/*---Side bar---*/
.aside {
  background: #1e2939;
  color: white;

  width: 370px;
  height: 1605px;
}

/*Contact*/
.contact {
  position: relative;
  margin-top: 51px;
  margin-left: 40px;
}
.contact-type {
  color: white;

  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.contact-line {
  color: gray;

  font-family: 'Montserrat';
  margin: 0px, 5px;
  font-size: 14px;
  line-height: 24px;
}

/*Tech skills*/
.tech {
  position: relative;
  margin-top: 47px;
  margin-left: 40px;
}
.ul-side-tech {
  font-family: 'Montserrat';
  color: #e82b2b;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-position: inside;
}

/*Soft skills*/
.soft {
  position: relative;
  margin-top: 44px;
  margin-left: 40px;
}

.ul-side-soft {
  color: #e82b2b;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-position: inside;
}

.h-sec {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 22px;
}

.li-side {
  color: #ffffff;
}

/*single element styles*/
#p-photo {
  width: 370px;
  height: 354px;
  position: relative;
  margin-top: 40px;
}
#title {
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: -10px;
}
